.ibas-TCopen {
    float : right;
    cursor: pointer;
}
.ibas-TCopen:hover {
    color: #969595;
}
.ibas-tranlate-content {
    border : none;
    display: block;
    margin : 3px 10px;
}
.ibas-TChip {
    min-width: 200px;
}
.ibas-mark-li {
    width: 49%;
    padding: 2px;
    margin: 0px;
    list-style: none;
    background: #ddd;
    text-align: center;
    height: 26px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 20px;
    color: #2196F3;
}
.ibas-mark-li:hover {
    background : #2196F3;
    color : #ddd;
}

.ibas-mark-ul {
    margin: 0px;
    padding: 2px;
    height: 35px;
}

/*配合 bootstrap 的 glyphicon glyphicon-refresh */
.ibas-loadingCP
{
    animation: loadingCP .5s linear infinite;
    -webkit-animation: loadingCP .5s linear infinite;
    -moz-animation: loadingCP .5s linear infinite;
    -o-animation: loadingCP .5s linear infinite;
    -ms-animation: loadingCP .5s linear infinite;
}
@keyframes loadingCP
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@-webkit-keyframes loadingCP
{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}
@-ms-keyframes loadingCP
{
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(180deg);
    }
}
@-moz-keyframes loadingCP
{
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(180deg);
    }
}
@-o-keyframes loadingCP
{
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(180deg);
    }
}

.ibas-markCP
{
    background : #2196F3;
    color : #ddd;
    animation:          markCP .5s linear forwards;
    -webkit-animation:  markCP .5s linear forwards;
    -moz-animation:     markCP .5s linear forwards;
    -o-animation:       markCP .5s linear forwards;
    -ms-animation:      markCP .5s linear forwards;
}
@keyframes markCP
{
    from {
        width : 49%;
    }
    to {
        width : 100%;
    }
}
@-webkit-keyframes markCP
{
    from {
        width : 49%;
    }
    to {
        width : 100%;
    }
}
@-ms-keyframes markCP
{
    from {
        width : 49%;
    }
    to {
        width : 100%;
    }
}
@-moz-keyframes markCP
{
    from {
        width : 49%;
    }
    to {
        width : 100%;
    }
}
@-o-keyframes markCP
{
    from {
        width : 49%;
    }
    to {
        width : 100%;
    }
}
