.ibas-label-input {
	outline : none;
	border : none;
	width : 100%;
}

.ibas-label-div {
	margin : 4px;
	padding : 4px;
	border : 1px;
	border-style : dashed;
	width : 100%;
	height : auto;
	border-radius : 6px;
	display: inline-block;
}

.ibas-label-label {
	background: #e4f1ec;
    border: #e4f1ec 1px;
    padding: 2px;
    margin: 2px 0px 2px 2px;
    float: left;
    box-sizing: border-box;
    height: 30px;
	font-size: 18px;
}

.ibas-label-btn-close {
	border: rgb(222, 222, 222) 1px;
    padding: 1px 2px 3px 2px;
    float: left;
    margin: 2px 2px 2px 0px;
    background: rgb(222, 222, 222);
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    /*display: inline-table;*/
	text-align: center;
	cursor : pointer;
	font-size: 20px;
}

.ibas-label-btn-close:hover {
    background: rgb(187, 187, 187);
}

.ibas-label-cdiv {
	float : left;
	padding : 2px;
}

.ibas-IL-warn {
	animation : ibas-IL-warn-ani 1s;
	-moz-animation : ibas-IL-warn-ani 1s;
	-webkit-animation : ibas-IL-warn-ani 1s;
	-o-animation : ibas-IL-warn-ani 1s;
	-ms-animation : ibas-IL-warn-ani 1s;
}

@keyframes ibas-IL-warn-ani {
	0% {
		background: rgb(74, 91, 128);
	} 
	100% {
		background: rgb(217, 232, 245);
	} 
}

@-moz-keyframes ibas-IL-warn-ani {
	0% {
		background: rgb(74, 91, 128);
	}
	100% {
		background: rgb(217, 232, 245);
	}
}

@-webkit-keyframes ibas-IL-warn-ani {
	0% {
		background: rgb(74, 91, 128);
	}
	100% {
		background: rgb(217, 232, 245);
	}
}

@-o-keyframes ibas-IL-warn-ani {
	0% {
		background: rgb(74, 91, 128);
	}
	100% {
		background: rgb(217, 232, 245);
	}
}

@-ms-keyframes ibas-IL-warn-ani {
	0% {
		background: rgb(74, 91, 128);
	}
	100% {
		background: rgb(217, 232, 245);
	}
}

